In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Sydney_Air_Quality.csv")
print(df)

      Unnamed: 0                       Date    City     CO  NO2   SO2     O3  \
0              0  2025-01-01 00:00:00+00:00  Sydney  103.0  5.4  11.1   86.0
1              1  2025-01-01 01:00:00+00:00  Sydney  101.0  4.5  10.6   98.0
2              2  2025-01-01 02:00:00+00:00  Sydney  100.0  3.2   9.8  113.0
3              3  2025-01-01 03:00:00+00:00  Sydney   99.0  2.4   9.4  123.0
4              4  2025-01-01 04:00:00+00:00  Sydney   99.0  2.3   9.6  122.0
...          ...                        ...     ...    ...  ...   ...    ...
8755        8755  2025-12-31 19:00:00+00:00  Sydney   81.0  7.7   3.0   50.0
8756        8756  2025-12-31 20:00:00+00:00  Sydney   78.0  7.5   3.0   51.0
8757        8757  2025-12-31 21:00:00+00:00  Sydney   75.0  7.0   2.8   52.0
8758        8758  2025-12-31 22:00:00+00:00  Sydney   74.0  5.8   2.4   52.0
8759        8759  2025-12-31 23:00:00+00:00  Sydney   74.0  4.3   1.8   51.0

      PM2.5  PM10        AQI
0      12.1  16.0  34.400000
1      10.7  12.4  39.200000
2      11.3  12.7  48.666668
3      12.6  14.9  55.333332
4      12.7  15.0  54.666668
...     ...   ...        ...
8755    7.2   9.6  20.175001
8756    7.5  10.5  20.400000
8757    8.3  11.8  20.800000
8758    8.3  12.2  20.800000
8759    8.7  12.8  20.400000

[8760 rows x 10 columns]

In [3]:
print(df.head(20))

    Unnamed: 0                       Date    City     CO   NO2   SO2     O3  \
0            0  2025-01-01 00:00:00+00:00  Sydney  103.0   5.4  11.1   86.0
1            1  2025-01-01 01:00:00+00:00  Sydney  101.0   4.5  10.6   98.0
2            2  2025-01-01 02:00:00+00:00  Sydney  100.0   3.2   9.8  113.0
3            3  2025-01-01 03:00:00+00:00  Sydney   99.0   2.4   9.4  123.0
4            4  2025-01-01 04:00:00+00:00  Sydney   99.0   2.3   9.6  122.0
5            5  2025-01-01 05:00:00+00:00  Sydney  100.0   2.8  10.1  116.0
6            6  2025-01-01 06:00:00+00:00  Sydney  101.0   3.7  10.4  106.0
7            7  2025-01-01 07:00:00+00:00  Sydney  102.0   5.5  10.5   92.0
8            8  2025-01-01 08:00:00+00:00  Sydney  104.0   7.9  10.4   76.0
9            9  2025-01-01 09:00:00+00:00  Sydney  104.0   9.7   9.8   62.0
10          10  2025-01-01 10:00:00+00:00  Sydney  102.0  10.8   8.1   53.0
11          11  2025-01-01 11:00:00+00:00  Sydney   98.0  11.4   5.9   46.0
12          12  2025-01-01 12:00:00+00:00  Sydney   94.0  11.9   3.1   43.0
13          13  2025-01-01 13:00:00+00:00  Sydney   91.0   9.3   2.7   47.0
14          14  2025-01-01 14:00:00+00:00  Sydney   88.0   5.8   2.1   53.0
15          15  2025-01-01 15:00:00+00:00  Sydney   85.0   3.1   1.6   56.0
16          16  2025-01-01 16:00:00+00:00  Sydney   79.0   2.2   1.3   54.0
17          17  2025-01-01 17:00:00+00:00  Sydney   73.0   2.2   1.1   48.0
18          18  2025-01-01 18:00:00+00:00  Sydney   69.0   2.3   1.0   44.0
19          19  2025-01-01 19:00:00+00:00  Sydney   69.0   2.4   0.9   42.0

    PM2.5  PM10        AQI
0    12.1  16.0  34.400000
1    10.7  12.4  39.200000
2    11.3  12.7  48.666668
3    12.6  14.9  55.333332
4    12.7  15.0  54.666668
5    12.3  14.6  50.666664
6    10.8  13.0  44.000000
7     8.8  10.8  36.800000
8     7.6   9.8  30.400000
9     6.2   8.2  24.800000
10    6.5   8.6  21.199999
11    7.5  10.0  19.583334
12    9.3  13.2  19.483335
13    9.0  12.8  19.558336
14    8.8  12.9  21.199999
15    7.8  11.3  22.400000
16    7.7  11.3  21.600000
17    7.9  11.6  19.558334
18    7.8  11.5  19.541666
19    8.0  11.7  19.491667

In [4]:
print(df["AQI"])

0       34.400000
1       39.200000
2       48.666668
3       55.333332
4       54.666668
          ...
8755    20.175001
8756    20.400000
8757    20.800000
8758    20.800000
8759    20.400000
Name: AQI, Length: 8760, dtype: float64

In [5]:
##LOC AND ILOC

In [6]:
print(df.loc[0:7])

   Unnamed: 0                       Date    City     CO  NO2   SO2     O3  \
0           0  2025-01-01 00:00:00+00:00  Sydney  103.0  5.4  11.1   86.0
1           1  2025-01-01 01:00:00+00:00  Sydney  101.0  4.5  10.6   98.0
2           2  2025-01-01 02:00:00+00:00  Sydney  100.0  3.2   9.8  113.0
3           3  2025-01-01 03:00:00+00:00  Sydney   99.0  2.4   9.4  123.0
4           4  2025-01-01 04:00:00+00:00  Sydney   99.0  2.3   9.6  122.0
5           5  2025-01-01 05:00:00+00:00  Sydney  100.0  2.8  10.1  116.0
6           6  2025-01-01 06:00:00+00:00  Sydney  101.0  3.7  10.4  106.0
7           7  2025-01-01 07:00:00+00:00  Sydney  102.0  5.5  10.5   92.0

   PM2.5  PM10        AQI
0   12.1  16.0  34.400000
1   10.7  12.4  39.200000
2   11.3  12.7  48.666668
3   12.6  14.9  55.333332
4   12.7  15.0  54.666668
5   12.3  14.6  50.666664
6   10.8  13.0  44.000000
7    8.8  10.8  36.800000

In [7]:
print(df.iloc[0:2,1:5])

                        Date    City     CO  NO2
0  2025-01-01 00:00:00+00:00  Sydney  103.0  5.4
1  2025-01-01 01:00:00+00:00  Sydney  101.0  4.5

In [8]:
print(df.loc[0:2,"CO"])

0    103.0
1    101.0
2    100.0
Name: CO, dtype: float64

In [9]:
#AT AND IAT

In [10]:
df.at[0,"City"]

'Sydney'

In [11]:
df.iat[0,2]='India'

In [12]:
df.iat[0,2]

'India'

In [13]:
# This is a VIEW not a COPY

In [14]:
#FILTERING OF DATA

In [15]:
df[df["AQI"]>20]

,Unnamed: 0,Date,City,CO,NO2,SO2,O3,PM2.5,PM10,AQI
0,0,2025-01-01 00:00:00+00:00,India,103.0,5.4,11.1,86.0,12.1,16.0,34.400000
1,1,2025-01-01 01:00:00+00:00,Sydney,101.0,4.5,10.6,98.0,10.7,12.4,39.200000
2,2,2025-01-01 02:00:00+00:00,Sydney,100.0,3.2,9.8,113.0,11.3,12.7,48.666668
3,3,2025-01-01 03:00:00+00:00,Sydney,99.0,2.4,9.4,123.0,12.6,14.9,55.333332
4,4,2025-01-01 04:00:00+00:00,Sydney,99.0,2.3,9.6,122.0,12.7,15.0,54.666668
...,...,...,...,...,...,...,...,...,...,...
8755,8755,2025-12-31 19:00:00+00:00,Sydney,81.0,7.7,3.0,50.0,7.2,9.6,20.175001
8756,8756,2025-12-31 20:00:00+00:00,Sydney,78.0,7.5,3.0,51.0,7.5,10.5,20.400000
8757,8757,2025-12-31 21:00:00+00:00,Sydney,75.0,7.0,2.8,52.0,8.3,11.8,20.800000
8758,8758,2025-12-31 22:00:00+00:00,Sydney,74.0,5.8,2.4,52.0,8.3,12.2,20.800000
8759,8759,2025-12-31 23:00:00+00:00,Sydney,74.0,4.3,1.8,51.0,8.7,12.8,20.400000

In [23]:
df.query("AQI>60 & NO2<5")[["City","NO2"]]

        City  NO2
97    Sydney  4.0
98    Sydney  3.5
99    Sydney  3.3
100   Sydney  3.3
101   Sydney  3.6
...      ...  ...
8500  Sydney  4.8
8571  Sydney  2.4
8572  Sydney  2.2
8573  Sydney  2.1
8574  Sydney  2.9

[111 rows x 2 columns]

In [24]:
df.isnull().sum()

Unnamed: 0    0
Date          0
City          0
CO            0
NO2           0
SO2           0
O3            0
PM2.5         0
PM10          0
AQI           0
dtype: int64