In [9]:
import pandas as pd

In [11]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [14]:
print(df.loc["day1"])

calories    420
duration     50
Name: day1, dtype: int64

In [25]:
df2=pd.read_csv("restaurant_sales.csv")
print(df2.head(10))

   restaurant_id  year  sales
0              1  2021    120
1              1  2022    135
2              1  2023    150
3              1  2024    165
4              1  2025    180
5              2  2021     90
6              2  2022    100
7              2  2023    110
8              2  2024    130
9              2  2025    145

In [16]:
# to_string : to printthe entire dataframe

In [17]:
print(df2.to_string)

<bound method DataFrame.to_string of     restaurant_id  year  sales
0               1  2021    120
1               1  2022    135
2               1  2023    150
3               1  2024    165
4               1  2025    180
5               2  2021     90
6               2  2022    100
7               2  2023    110
8               2  2024    130
9               2  2025    145
10              3  2021    200
11              3  2022    210
12              3  2023    220
13              3  2024    230
14              3  2025    250
15              4  2021     60
16              4  2022     75
17              4  2023     90
18              4  2024    105
19              4  2025    120
20              5  2021    150
21              5  2022    160
22              5  2023    170
23              5  2024    185
24              5  2025    200>

In [ ]:
CSV-> FULLFORM

In [ ]:
##   if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.

In [19]:
print(pd.options.display.max_rows)

60

In [28]:
df3=pd.read_json("restaurant_sales.json")
print(df3.tail())
print(df3.info())

    restaurant_id  year  sales
20              5  2021    150
21              5  2022    160
22              5  2023    170
23              5  2024    185
24              5  2025    200
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   restaurant_id  25 non-null     int64
 1   year           25 non-null     int64
 2   sales          25 non-null     int64
dtypes: int64(3)
memory usage: 732.0 bytes
None

print(df3.info())

In [29]:
# Print the last 5 rows of the DataFrame:
# If the number of rows is not specified, the head() method will return the top 5 rows.

In [30]:
###     DATA CLEANING

In [31]:
df=pd.read_csv("fitness_data.csv")

In [32]:
print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [38]:
# By default, the dropna() method returns a new DataFrame, and will not change the original

df.dropna(inplace=True)
print(df.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [ ]:
# dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame.

In [44]:
df=pd.read_csv("fitness_data.csv")
x=df['Calories'].mean()
df.fillna({'Calories':x},inplace=True)
print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130    409.10
1         60  2020/12/02    117       145    479.00
2         60  2020/12/03    103       135    340.00
3         45  2020/12/04    109       175    282.40
4         45  2020/12/05    117       148    406.00
5         60  2020/12/06    102       127    300.00
6         60  2020/12/07    110       136    374.00
7        450  2020/12/08    104       134    253.30
8         30  2020/12/09    109       133    195.10
9         60  2020/12/10     98       124    269.00
10        60  2020/12/11    103       147    329.30
11        60  2020/12/12    100       120    250.70
12        60  2020/12/12    100       120    250.70
13        60  2020/12/13    106       128    345.30
14        60  2020/12/14    104       132    379.30
15        60  2020/12/15     98       123    275.00
16        60  2020/12/16     98       120    215.20
17        60  2020/12/17    100       120    300.00
18        45  2020/12/18     90       112    304.68
19        60  2020/12/19    103       123    323.00
20        45  2020/12/20     97       125    243.00
21        60  2020/12/21    108       131    364.20
22        45         NaN    100       119    282.00
23        60  2020/12/23    130       101    300.00
24        45  2020/12/24    105       132    246.00
25        60  2020/12/25    102       126    334.50
26        60  2020/12/26    100       120    250.00
27        60  2020/12/27     92       118    241.00
28        60  2020/12/28    103       132    304.68
29        60  2020/12/29    100       132    280.00
30        60  2020/12/30    102       129    380.30
31        60  2020/12/31     92       115    243.00

In [46]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [1]:
import pandas as pd

In [ ]:
pd.